{% extends 'base.html.twig' %}

{% block title %}New AffectationBadge{% endblock %}

{% block content %}
    <h1>Create new AffectationBadge</h1>

    {{ include('affectation_badge/_form.html.twig') }}

    <a href="{{ path('app_affectation_badge_index') }}">back to list</a>
{% endblock %}
