{% extends 'base.html.twig' %}

{% block title %}Edit Groupe{% endblock %}

{% block content %}
    <h1>Edit Groupe</h1>

    {{ include('groupe/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

   <a href="{{ path('app_groupe_index') }}" class="btn btn-success">
                <i class="fas fa-edit" style="padding-right: 3px"></i>Retour à la liste
            </a> 
{% endblock %}
