<form method="post" action="{{ path('app_affectationnotes_delete', {'id': affectationnote.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ affectationnote.id) }}">
    <button class="btn">Delete</button>
</form>
