<form method="post" action="{{ path('app_critere_delete', {'id': critere.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ critere.id) }}">
    <button class="btn">Delete</button>
</form>
