{% extends 'base.html.twig' %}

{% block title %}Edit Critere{% endblock %}

{% block content %}
    <h1>Edit Critere</h1>

    {{ include('critere/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_critere_index', {'id': critere.idEvaluation.id}) }}">back to list</a>
    
    {{ include('critere/_delete_form.html.twig') }}
{% endblock %}
