
{% extends 'base.html.twig' %}

{% block title %}New Critere{% endblock %}

{% block content %}
<div class="row">
		<div class="col-12">
			<div class="card">
            <div class="card-body">
    <h1>Create new Critere</h1>

    {{ include('critere/_form.html.twig') }}
</div>
    </div>
    </div>
    </div>
{% endblock %}

