<form method="post" action="{{ path('app_departement_delete', {'id': departement.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce département?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departement.id) }}"><br>
    <button class="btn btn-danger" > <i class="fas fa-trash"></i> Supprimer </button>
</form>
