{% extends 'base.html.twig' %}

{% block title %}Modifier Departement{% endblock %}

{% block page %}Modifier Departement{% endblock %}
{% block content %}
    <h1>Modifier Departement</h1>

    {{ include('departement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_departement_index') }}"class="btn btn-success"><i class="fas fa-edit" style="padding-right:3px"></i>>back to list</a>



    {{ include('departement/_delete_form.html.twig') }}
{% endblock %}
