{% extends 'base.html.twig' %}

{% block title %}New departement{% endblock %}
{% block titlepage %}Ajouter un nouveau Departement{% endblock %}
{% block page %}Ajouter un nouveau Departement{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ include('departement/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}