{% extends 'base.html.twig' %}

{% block title %}Modifier Session{% endblock %}
{% block titlepage %}Modifier Session
{% endblock %}
{% block page %}Modifier Session
{% endblock %}
{% block content %}
    {{ include('session/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div>
        <a href="{{ path('app_session_index') }}" class="btn btn-success" style="display: inline-block; margin-right: 20px;">
            <i class="fas fa-edit" style="padding-right: 3px;"></i>Retour à la liste</a>
        <span style="display: inline-block;">
        {{ include('session/_delete_form.html.twig') }}
        </span>
    </div>
    <br>
{% endblock %}
