{% extends 'base.html.twig' %}

{% block title %}New Session{% endblock %}
{% block titlepage %}Ajouter une nouvelle Session
{% endblock %}
{% block page %}Ajouter une nouvelle Session
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1>Create new Session</h1>

                    {{ include('session/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}