{% extends 'base.html.twig' %}

{% block title %}Modifier Evaluation{% endblock %}

{% block content %}
    <h1>Modifier Evaluation</h1>

    {{ include('evaluation/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

   <a href="{{ path('app_evaluation_index') }}" class="btn btn-success">
                <i class="fas fa-edit" style="padding-right: 3px"></i>Retour à la liste
            </a> 

   
{% endblock %}
