{% extends 'base.html.twig' %}

{% block title %}Ajouter une Evaluation{% endblock %}

{% block content %}
    <h1>Ajouter une Evaluation</h1>

    {{ include('evaluation/_form.html.twig') }}

    <a href="{{ path('app_evaluation_index') }}">back to list</a>
{% endblock %}
