{% extends 'base.html.twig' %}

{% block title %} Tableau de Bord {% endblock %}
{% block titlepage %}Tableau de Bord
{% endblock %}
{% block page %}Tableau de Bord
{% endblock %}

{% block content %}
<div class="container-fluid">
            <div class="row">
              <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                  <div class="inner">
                   <h3>{{ nbutilisateurs }}</h3>
                    <p>Utilisateurs</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-bag"></i>
                  </div>
                  <a href="{{path('app_user_index')}}" class="small-box-footer"
                    >Plus D'informations <i class="fas fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>

              <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>{{ nsessions }}<sup style="font-size: 20px"></sup></h3>
                    <p>SESSIONS</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="{{path('app_session_index')}}" class="small-box-footer"
                    >Plus D'informations <i class="fas fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>

              <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3>44</h3>
                    <p> Bounce Rate </p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                  <a href="#" class="small-box-footer"
                    >More info <i class="fas fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>

              <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3>65</h3>
                    <p>Unique Visitors</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <a href="#" class="small-box-footer"
                    >More info <i class="fas fa-arrow-circle-right"></i
                  ></a>
                </div>
              </div>
            </div>
{% endblock %}