{% extends 'base.html.twig' %}

{% block title %}Ajouter un nouveau Utilisateur{% endblock %}
{% block titlepage %}Ajouter un nouveau Utilisateur
{% endblock %}
{% block page %}Ajouter un nouveau Utilisateur
{% endblock %}

{% block content %}
<div class="row">
		<div class="col-12">
			<div class="card">
            <div class="card-body">

    

    {{ include('user/_form.html.twig') }}
</div>
    </div>
    </div>
    </div>
{% endblock %}
