<p>Dear Mr/Mrs, </p>
<p>We hope this email finds you well.</p>
<p>We are writing to inform you that you have requested a password reset. If this was not you, please disregard this email.</p>
<p>To reset your password, please click on the following link:</p>
<p><a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Once you have clicked on the link, you will be able to enter a new password for your account.
If you have any questions, please do not hesitate to contact us.</p>
<br><br>
----------------------------------------------------------------
<p>Best regards,</p>
<p>Users Evaluation</p>
