<!DOCTYPE html>
<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	</head>
    <body class="bg-light">
		<div class="container">
			<img class="ax-center my-10 w-24" src="{{asset('dist/img/logo-esprit.png')}}"/>
			<div class="card p-6 p-lg-10 space-y-4">
				<h1 class="h3 fw-700">
					Activation de Compte
				</h1>
				<p>
				<p>Cher/chère {{user.nom|raw}} {{user.prenom|raw}},</p>

<p>Nous espérons que vous vous portez bien.</p>

<p>Nous vous écrivons pour vous informer que votre compte a été réactivé par l'administrateur de l'application. Nous sommes heureux de vous annoncer que vous pouvez à nouveau accéder à votre compte.</p>

<p>Si vous avez des questions ou des préoccupations concernant cette réactivation, n'hésitez pas à nous contacter immédiatement. Notre équipe se fera un plaisir de vous fournir des explications supplémentaires et de vous apporter toute l'assistance nécessaire.</p>

<p>Nous vous remercions de votre compréhension et nous nous excusons pour tout désagrément que cela aurait pu causer. Nous apprécions votre confiance et sommes déterminés à garantir la sécurité de nos utilisateurs et à maintenir un environnement sain au sein de notre application.</p>

<br><br>
			</p>
			<a class="btn btn-primary p-3 fw-700" href="https://localhost:8000/">Visiter le siteWeb</a>
		</div>
		<img class="ax-center mt-10 w-40" src="{{asset('dist/img/logo-esprit.png')}}"/>
		<div class="text-muted text-center my-6">
			Sent with
			<i class="fas fa-heart text-danger"></i>
			from Users Evaluation.
			<br></div>
	</body>
</html>
