{% block body %}
    <p>Bonjour,</p>
    
    <p>Votre code de vérification à deux facteurs est : <strong>{{ code }}</strong></p>
    
    <p>Merci de l'utiliser pour compléter le processus d'authentification.</p>
    
    <p>Cordialement,</p>
    <p>Users Evaluation</p>
{% endblock %}
